<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Streamy McStreamyFace ®</title>
  <link rel="stylesheet" href="static/css/app.css" type="text/css" />
  <link rel="icon" type="image/x-icon" href="static/img/favicon.ico" />
</head>
<body>
  <header>
  </header>
  <main>
    <div id="dontJudgeMyDivNames">
      <canvas id="myChart" width="400" height="400"></canvas>
    </div>
  </main>
  <!-- Load my amazing app -->
  <!-- <script src="static/js/app.js"></script> -->
  <!-- Load d3.js -->
  <!-- <script src="https://d3js.org/d3.v4.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
  <script src="static/js/app.js"></script>
</body>
</html>